/* -------------------------------------------------------------------------------------------------
 * Variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-alert-border-radius: 0.25rem;
  --hope-alert-padding: 0.75rem 1rem;
  --hope-alert-font-size: 1rem;
  --hope-alert-line-height: 1.5rem;
}

/* -------------------------------------------------------------------------------------------------
 * Alert
 * -----------------------------------------------------------------------------------------------*/
.hope-alert {
  position: "relative";
  display: "flex";
  align-items: "center";
  border-radius: var(--hope-alert-border-radius);
  border: 1px solid transparent;
  padding: var(--hope-alert-padding);
  font-size: var(--hope-alert-font-size);
  line-height: var(--hope-alert-line-height);
}

// Variants - solid
.hope-alert--solid {
  color: white;

  &.hope-alert--success {
    background-color: rgb(var(--hope-colors-success-500));
  }

  &.hope-alert--info {
    background-color: rgb(var(--hope-colors-info-500));
  }

  &.hope-alert--warning {
    background-color: rgb(var(--hope-colors-warning-500));
    color: rgb(var(--hope-colors-neutral-700));
  }

  &.hope-alert--danger {
    background-color: rgb(var(--hope-colors-danger-500));
  }
}

// Variants - subtle
.hope-alert--subtle {
  &.hope-alert--success {
    background-color: rgb(var(--hope-colors-success-50));
    color: rgb(var(--hope-colors-success-700));
  }

  &.hope-alert--info {
    background-color: rgb(var(--hope-colors-info-50));
    color: rgb(var(--hope-colors-info-700));
  }

  &.hope-alert--warning {
    background-color: rgb(var(--hope-colors-warning-50));
    color: rgb(var(--hope-colors-warning-700));
  }

  &.hope-alert--danger {
    background-color: rgb(var(--hope-colors-danger-50));
    color: rgb(var(--hope-colors-danger-700));
  }
}

/* -------------------------------------------------------------------------------------------------
 * AlertIcon
 * -----------------------------------------------------------------------------------------------*/
.hope-alert-icon {
  flex-shrink: 0;
  flex-grow: 0;
}
