:root {
  // Primary (Tailwind - Cyan)
  --hope-colors-primary-50: 236 254 255;
  --hope-colors-primary-100: 207 250 254;
  --hope-colors-primary-200: 165 243 252;
  --hope-colors-primary-300: 103 232 249;
  --hope-colors-primary-400: 34 211 238;
  --hope-colors-primary-500: 6 182 212;
  --hope-colors-primary-600: 8 145 178;
  --hope-colors-primary-700: 14 116 144;
  --hope-colors-primary-800: 21 94 117;
  --hope-colors-primary-900: 22 78 99;

  // Accent (Tailwind - Violet)
  --hope-colors-accent-50: 247 245 255;
  --hope-colors-accent-100: 237 233 254;
  --hope-colors-accent-200: 221 214 254;
  --hope-colors-accent-300: 196 181 253;
  --hope-colors-accent-400: 167 139 250;
  --hope-colors-accent-500: 139 92 246;
  --hope-colors-accent-600: 124 58 237;
  --hope-colors-accent-700: 109 40 217;
  --hope-colors-accent-800: 91 33 182;
  --hope-colors-accent-900: 76 29 149;

  // Neutral (Tailwind - Neutral)
  --hope-colors-neutral-50: 250 250 250;
  --hope-colors-neutral-100: 245 245 245;
  --hope-colors-neutral-200: 229 229 229;
  --hope-colors-neutral-300: 212 212 212;
  --hope-colors-neutral-400: 163 163 163;
  --hope-colors-neutral-500: 115 115 115;
  --hope-colors-neutral-600: 82 82 82;
  --hope-colors-neutral-700: 64 64 64;
  --hope-colors-neutral-800: 38 38 38;
  --hope-colors-neutral-900: 23 23 23;

  // Success (Tailwind - Green)
  --hope-colors-success-50: 240 253 244;
  --hope-colors-success-100: 220 252 231;
  --hope-colors-success-200: 187 247 208;
  --hope-colors-success-300: 134 239 172;
  --hope-colors-success-400: 74 222 128;
  --hope-colors-success-500: 34 197 94;
  --hope-colors-success-600: 22 163 74;
  --hope-colors-success-700: 21 128 61;
  --hope-colors-success-800: 22 101 52;
  --hope-colors-success-900: 20 83 45;

  // Info (Tailwind - Blue)
  --hope-colors-info-50: 239 246 255;
  --hope-colors-info-100: 219 234 254;
  --hope-colors-info-200: 191 219 254;
  --hope-colors-info-300: 147 197 253;
  --hope-colors-info-400: 96 165 250;
  --hope-colors-info-500: 59 130 246;
  --hope-colors-info-600: 37 99 235;
  --hope-colors-info-700: 29 78 216;
  --hope-colors-info-800: 30 64 175;
  --hope-colors-info-900: 30 58 138;

  // Warning (Tailwind - Amber)
  --hope-colors-warning-50: 255 251 235;
  --hope-colors-warning-100: 254 243 199;
  --hope-colors-warning-200: 253 230 138;
  --hope-colors-warning-300: 252 211 77;
  --hope-colors-warning-400: 251 191 36;
  --hope-colors-warning-500: 245 158 11;
  --hope-colors-warning-600: 217 119 6;
  --hope-colors-warning-700: 180 83 9;
  --hope-colors-warning-800: 146 64 14;
  --hope-colors-warning-900: 120 53 15;

  // Danger (Tailwind - Red)
  --hope-colors-danger-50: 254 242 242;
  --hope-colors-danger-100: 254 226 226;
  --hope-colors-danger-200: 254 202 202;
  --hope-colors-danger-300: 252 165 165;
  --hope-colors-danger-400: 248 113 113;
  --hope-colors-danger-500: 239 68 68;
  --hope-colors-danger-600: 220 38 38;
  --hope-colors-danger-700: 185 28 28;
  --hope-colors-danger-800: 153 27 27;
  --hope-colors-danger-900: 127 29 29;

  // Focus Ring (Tailwind - Blue 600)
  --hope-colors-focus-ring: 37 99 235;

  // Shadows
  --hope-shadows-xs: 0px 1px 2px rgb(16 24 40 / 5%);
  --hope-shadows-sm: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
  --hope-shadows-md: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
  --hope-shadows-lg: 0px 12px 16px -4px rgb(16 24 40 / 8%), 0px 4px 6px -2px rgb(16 24 40 / 3%);
  --hope-shadows-xl: 0px 20px 24px -4px rgb(16 24 40 / 8%), 0px 8px 8px -4px rgb(16 24 40 / 3%);
  --hope-shadows-2xl: 0px 24px 48px -12px rgb(16 24 40 / 18%);
  --hope-shadows-3xl: 0px 32px 64px -12px rgb(16 24 40 / 14%);

  // Typography
  --hope-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --hope-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --hope-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* -------------------------------------------------------------------------------------------------
 * Dark mode
 * -----------------------------------------------------------------------------------------------*/
.hope-theme-dark {
  // Shadows (In dark mode shadow should not be used to express elevation use a lighter surface color instead)
  --hope-shadows-xs: none;
  --hope-shadows-sm: none;
  --hope-shadows-md: none;
  --hope-shadows-lg: none;
  --hope-shadows-xl: none;
  --hope-shadows-2xl: none;
  --hope-shadows-3xl: none;
}
