@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tailwind blue */
    --hope-colors-primary-50: 239 246 255;
    --hope-colors-primary-100: 219 234 254;
    --hope-colors-primary-200: 191 219 254;
    --hope-colors-primary-300: 147 197 253;
    --hope-colors-primary-400: 96 165 250;
    --hope-colors-primary-500: 59 130 246;
    --hope-colors-primary-600: 37 99 235;
    --hope-colors-primary-700: 29 78 216;
    --hope-colors-primary-800: 30 64 175;
    --hope-colors-primary-900: 30 58 138;

    /* Tailwind neutral (+ 10% saturation blue - hue 217) */
    --hope-colors-neutral-50: 249 250 250;
    --hope-colors-neutral-100: 244 245 246;
    --hope-colors-neutral-200: 227 229 232;
    --hope-colors-neutral-300: 207 211 216;
    --hope-colors-neutral-400: 154 161 172;
    --hope-colors-neutral-500: 103 112 126;
    --hope-colors-neutral-600: 73 80 90;
    --hope-colors-neutral-700: 57 62 70;
    --hope-colors-neutral-800: 34 37 42;
    --hope-colors-neutral-900: 21 22 25;

    /* Tailwind green */
    --hope-colors-success-50: 240 253 244;
    --hope-colors-success-100: 220 252 231;
    --hope-colors-success-200: 187 247 208;
    --hope-colors-success-300: 134 239 172;
    --hope-colors-success-400: 74 222 128;
    --hope-colors-success-500: 34 197 94;
    --hope-colors-success-600: 22 163 74;
    --hope-colors-success-700: 21 128 61;
    --hope-colors-success-800: 22 101 52;
    --hope-colors-success-900: 20 83 45;

    /* Tailwind violet */
    --hope-colors-info-50: 245 243 255;
    --hope-colors-info-100: 237 233 254;
    --hope-colors-info-200: 221 214 254;
    --hope-colors-info-300: 196 181 253;
    --hope-colors-info-400: 167 139 250;
    --hope-colors-info-500: 139 92 246;
    --hope-colors-info-600: 124 58 237;
    --hope-colors-info-700: 109 40 217;
    --hope-colors-info-800: 91 33 182;
    --hope-colors-info-900: 76 29 149;

    /* Tailwind yellow */
    --hope-colors-warning-50: 254 252 232;
    --hope-colors-warning-100: 254 249 195;
    --hope-colors-warning-200: 254 240 138;
    --hope-colors-warning-300: 253 224 71;
    --hope-colors-warning-400: 250 204 21;
    --hope-colors-warning-500: 234 179 8;
    --hope-colors-warning-600: 202 138 4;
    --hope-colors-warning-700: 161 98 7;
    --hope-colors-warning-800: 133 77 14;
    --hope-colors-warning-900: 113 63 18;

    /* Tailwind red */
    --hope-colors-danger-50: 254 242 242;
    --hope-colors-danger-100: 254 226 226;
    --hope-colors-danger-200: 254 202 202;
    --hope-colors-danger-300: 252 165 165;
    --hope-colors-danger-400: 248 113 113;
    --hope-colors-danger-500: 239 68 68;
    --hope-colors-danger-600: 220 38 38;
    --hope-colors-danger-700: 185 28 28;
    --hope-colors-danger-800: 153 27 27;
    --hope-colors-danger-900: 127 29 29;
  }
}
