/*
 * Theme CSS Variables
 */
:root {
  /* Colors
   * ------------------------------------------*/

  /* Primary */
  --hope-color-primary-50: #eff6ff;
  --hope-color-primary-100: #dbeafe;
  --hope-color-primary-200: #bfdbfe;
  --hope-color-primary-300: #93c5fd;
  --hope-color-primary-400: #60a5fa;
  --hope-color-primary-500: #3b82f6;
  --hope-color-primary-600: #2563eb;
  --hope-color-primary-700: #1d4ed8;
  --hope-color-primary-800: #1e40af;
  --hope-color-primary-900: #1e3a8a;

  /* Dark */
  --hope-color-dark-50: #c1c2c5;
  --hope-color-dark-100: #a6a7ab;
  --hope-color-dark-200: #909296;
  --hope-color-dark-300: #5c5f66;
  --hope-color-dark-400: #373a40;
  --hope-color-dark-500: #2c2e33;
  --hope-color-dark-600: #25262b;
  --hope-color-dark-700: #1a1b1e;
  --hope-color-dark-800: #141517;
  --hope-color-dark-900: #101113;

  /* Neutral */
  --hope-color-neutral-50: #f9fafb;
  --hope-color-neutral-100: #f3f4f6;
  --hope-color-neutral-200: #e5e7eb;
  --hope-color-neutral-300: #d1d5db;
  --hope-color-neutral-400: #9ca3af;
  --hope-color-neutral-500: #6b7280;
  --hope-color-neutral-600: #4b5563;
  --hope-color-neutral-700: #374151;
  --hope-color-neutral-800: #1f2937;
  --hope-color-neutral-900: #111827;

  /* Success */
  --hope-color-success-50: #ecfdf5;
  --hope-color-success-100: #d1fae5;
  --hope-color-success-200: #a7f3d0;
  --hope-color-success-300: #6ee7b7;
  --hope-color-success-400: #34d399;
  --hope-color-success-500: #10b981;
  --hope-color-success-600: #059669;
  --hope-color-success-700: #047857;
  --hope-color-success-800: #065f46;
  --hope-color-success-900: #064e3b;

  /* Info */
  --hope-color-info-50: #f0f9ff;
  --hope-color-info-100: #e0f2fe;
  --hope-color-info-200: #bae6fd;
  --hope-color-info-300: #7dd3fc;
  --hope-color-info-400: #38bdf8;
  --hope-color-info-500: #0ea5e9;
  --hope-color-info-600: #0284c7;
  --hope-color-info-700: #0369a1;
  --hope-color-info-800: #075985;
  --hope-color-info-900: #0c4a6e;

  /* Warning */
  --hope-color-warning-50: #fffbeb;
  --hope-color-warning-100: #fef3c7;
  --hope-color-warning-200: #fde68a;
  --hope-color-warning-300: #fcd34d;
  --hope-color-warning-400: #fbbf24;
  --hope-color-warning-500: #f59e0b;
  --hope-color-warning-600: #d97706;
  --hope-color-warning-700: #b45309;
  --hope-color-warning-800: #92400e;
  --hope-color-warning-900: #78350f;

  /* Danger */
  --hope-color-danger-50: #fef2f2;
  --hope-color-danger-100: #fee2e2;
  --hope-color-danger-200: #fecaca;
  --hope-color-danger-300: #fca5a5;
  --hope-color-danger-400: #f87171;
  --hope-color-danger-500: #ef4444;
  --hope-color-danger-600: #dc2626;
  --hope-color-danger-700: #b91c1c;
  --hope-color-danger-800: #991b1b;
  --hope-color-danger-900: #7f1d1d;

  /* Font familly
   * ------------------------------------------*/
  --hope-font-familly: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  /* Breakpoints
   * ------------------------------------------*/
  --hope-breakpoint-sm: 640px;
  --hope-breakpoint-md: 768px;
  --hope-breakpoint-lg: 1024px;
  --hope-breakpoint-xl: 1280px;
  --hope-breakpoint-2xl: 1536px;
}
