@use "./common/variables" as *;

.h-avatar-badge {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.25em;
  width: 1.25em;

  border-radius: $radii-full;

  transform: translate(25%, 25%);
}

/* Colors
 * ------------------------------------------*/

@mixin avatar-badge-color($color-name, $bg-color, $border-color) {
  .h-avatar-badge--color-#{$color-name} {
    background-color: $bg-color;
    border: 0.2em solid $border-color;
  }
}

@include avatar-badge-color(
  "primary",
  var(--hope-color-primary-500),
  var(--hope-color-primary-100)
);

@include avatar-badge-color("dark", var(--hope-color-dark-400), var(--hope-color-dark-50));

@include avatar-badge-color(
  "neutral",
  var(--hope-color-neutral-500),
  var(--hope-color-neutral-200)
);

@include avatar-badge-color(
  "success",
  var(--hope-color-success-500),
  var(--hope-color-success-100)
);

@include avatar-badge-color("info", var(--hope-color-info-500), var(--hope-color-info-100));

@include avatar-badge-color(
  "warning",
  var(--hope-color-warning-500),
  var(--hope-color-warning-100)
);

@include avatar-badge-color("danger", var(--hope-color-danger-500), var(--hope-color-danger-100));
