@use "./common/variables" as *;

.h-avatar {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding: 0;

  line-height: $line-height-none;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  text-align: center;

  &.h-avatar--with-inner-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-indice-docked;
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: $shadow-inner;
    border-radius: $radii-full;
  }

  & .h-avatar--image {
    display: block;
    max-width: 100%;
    border-style: none;
    object-fit: cover;
  }
}

/* Sizes
 * ------------------------------------------*/

@mixin avatar-size($size-name, $size, $font-size) {
  .h-avatar--size-#{$size-name} {
    height: $size;
    width: $size;
    font-size: $font-size;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

@include avatar-size("xs", $size-6, 0.6rem);
@include avatar-size("sm", $size-8, 0.8rem);
@include avatar-size("md", $size-12, 1.2rem);
@include avatar-size("lg", $size-16, 1.6rem);
@include avatar-size("xl", $size-24, 2.4rem);

/* Radius
 * ------------------------------------------*/

@mixin avatar-radius($size-name, $value) {
  .h-avatar--radius-#{$size-name} {
    border-radius: $value;

    & .h-avatar--image {
      border-radius: $value;
    }
  }
}

@include avatar-radius("none", $radii-none);
@include avatar-radius("xs", $radii-xs);
@include avatar-radius("sm", $radii-sm);
@include avatar-radius("md", $radii-md);
@include avatar-radius("lg", $radii-lg);
@include avatar-radius("xl", $radii-xl);
@include avatar-radius("full", $radii-full);

/* Variant : Filled
 * ------------------------------------------*/

@mixin avatar-filled-color($color-name, $bg-color) {
  &.h-avatar--color-#{$color-name} {
    background-color: $bg-color;
  }
}

.h-avatar--variant-filled {
  color: white;

  @include avatar-filled-color("primary", var(--hope-color-primary-500));
  @include avatar-filled-color("dark", var(--hope-color-dark-500));
  @include avatar-filled-color("neutral", var(--hope-color-neutral-500));
  @include avatar-filled-color("success", var(--hope-color-success-500));
  @include avatar-filled-color("info", var(--hope-color-info-500));
  @include avatar-filled-color("warning", var(--hope-color-warning-500));
  @include avatar-filled-color("danger", var(--hope-color-danger-500));
}

/* Variant : Light
 * ------------------------------------------*/

@mixin avatar-light-color($color-name, $text-color, $bg-color) {
  &.h-avatar--color-#{$color-name} {
    background-color: $bg-color;
    color: $text-color;
  }
}

.h-avatar--variant-light {
  @include avatar-light-color(
    "primary",
    var(--hope-color-primary-500),
    var(--hope-color-primary-100)
  );

  @include avatar-light-color("dark", var(--hope-color-dark-500), var(--hope-color-dark-50));

  @include avatar-light-color(
    "neutral",
    var(--hope-color-neutral-500),
    var(--hope-color-neutral-200)
  );

  @include avatar-light-color(
    "success",
    var(--hope-color-success-500),
    var(--hope-color-success-100)
  );

  @include avatar-light-color("info", var(--hope-color-info-500), var(--hope-color-info-100));

  @include avatar-light-color(
    "warning",
    var(--hope-color-warning-500),
    var(--hope-color-warning-100)
  );

  @include avatar-light-color("danger", var(--hope-color-danger-500), var(--hope-color-danger-100));
}
