@use "modern-normalize/modern-normalize.css";

@use "./variables/colors";
@use "./variables/typography";

/*
 * Reset
 */
/*! hope-ui | MIT License | https://github.com/fabien-ml/hope-ui-solid */
/*! tailwindcss | MIT License | https://tailwindcss.com */
/*! joshwcomeau | MIT License | https://www.joshwcomeau.com/css/custom-css-reset */

/* Remove default margin. */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application. */
html,
body {
  height: 100%;
}

/* 
  1. Use tokens dark color for text.
  2. Use tokens `sans` font-family.
  3. Use tokens base line height.
*/
html {
  color: colors.$color-dark-900; /* 1 */
  font-family: typography.$font-sans; /* 2 */
  line-height: typography.$line-height-base; /* 3 */
  font-size: 16px;
}

/* Improve text rendering. */
body {
  font-family: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings are unstyled. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
  Lists are unstyled.
  Unstyled lists are not announced as lists by VoiceOver.
  If your content is truly a list add a “list” role to the element. 
*/
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Improve media defaults. */
img,
svg {
  display: block;
  max-width: 100%;
}

/* Buttons have a default outline */
button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}
