@use "./common/variables" as *;

@use "./common/animations";

.h-btn {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  font-weight: $font-weight-semibold;
  line-height: $line-height-none;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  outline: none;
  transition: color 250ms, background-color 250ms;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 4px;
  }

  &.h-btn--disabled {
    border: 1px solid transparent;
    background-color: var(--hope-color-neutral-100);
    color: var(--hope-color-neutral-300);
    cursor: not-allowed;
  }

  &.h-btn--loading {
    opacity: 0.75;
    cursor: progress;
  }

  & .h-btn__loading-icon {
    animation: 1000ms linear infinite spin;
  }
}

/* Miscellaneous
 * ------------------------------------------*/

.h-btn--uppercase {
  text-transform: uppercase;
}

.h-btn--full-width {
  display: flex;
  width: 100%;
}

/* Sizes
 * ------------------------------------------*/

@mixin btn-size(
  $size-name,
  $height,
  $compact-height,
  $icon-size,
  $font-size,
  $padding-x,
  $compact-padding-x,
  $spacing
) {
  .h-btn--size-#{$size-name} {
    height: $height;
    padding: 0 $padding-x;
    font-size: $font-size;

    &.h-btn--icon-button {
      width: $height;
      padding: 0;
    }

    & svg {
      width: $icon-size;
      height: $icon-size;
    }

    & > * + * {
      margin-left: $spacing;
    }
  }

  .h-btn--size-#{$size-name}.h-btn--compact {
    height: $compact-height;
    padding: 0 $compact-padding-x;

    &.h-btn--icon-button {
      width: $compact-height;
      padding: 0;
    }
  }
}

@include btn-size("xs", $size-6, $size-5, $size-3-5, $font-size-xs, $size-2, $size-1, $size-1);
@include btn-size("sm", $size-8, $size-6, $size-4, $font-size-sm, $size-3, $size-1-5, $size-1-5);
@include btn-size("md", $size-10, $size-7, $size-5, $font-size-base, $size-4, $size-1-5, $size-1-5);
@include btn-size("lg", $size-12, $size-8, $size-6, $font-size-lg, $size-6, $size-1-5, $size-2);
@include btn-size("xl", $size-14, $size-9, $size-7, $font-size-xl, $size-10, $size-2, $size-2);

/* Radius
 * ------------------------------------------*/

@mixin btn-radius($size-name, $value) {
  .h-btn--radius-#{$size-name} {
    border-radius: $value;
  }
}

@include btn-radius("none", $radii-none);
@include btn-radius("xs", $radii-xs);
@include btn-radius("sm", $radii-sm);
@include btn-radius("md", $radii-md);
@include btn-radius("lg", $radii-lg);
@include btn-radius("xl", $radii-xl);
@include btn-radius("full", $radii-full);

/* Variant : Default
 * ------------------------------------------*/

.h-btn--variant-default {
  border: 1px solid var(--hope-color-neutral-400);
  background-color: white;
  color: var(--hope-color-dark-600);

  &:not(:disabled):hover {
    background-color: var(--hope-color-neutral-100);
  }
}

/* Variant : Filled
 * ------------------------------------------*/

@mixin btn-filled-color($color-name, $bg-color, $bg-color-hover) {
  &.h-btn--color-#{$color-name} {
    background-color: $bg-color;

    &:not(:disabled):hover {
      background-color: $bg-color-hover;
    }
  }
}

.h-btn--variant-filled {
  border: 1px solid transparent;
  color: white;

  @include btn-filled-color(
    "primary",
    var(--hope-color-primary-500),
    var(--hope-color-primary-600)
  );

  @include btn-filled-color("dark", var(--hope-color-dark-500), var(--hope-color-dark-800));

  @include btn-filled-color(
    "neutral",
    var(--hope-color-neutral-500),
    var(--hope-color-neutral-600)
  );

  @include btn-filled-color(
    "success",
    var(--hope-color-success-500),
    var(--hope-color-success-600)
  );

  @include btn-filled-color("info", var(--hope-color-info-500), var(--hope-color-info-600));

  @include btn-filled-color(
    "warning",
    var(--hope-color-warning-500),
    var(--hope-color-warning-600)
  );

  @include btn-filled-color("danger", var(--hope-color-danger-500), var(--hope-color-danger-600));
}

/* Variant : Light
 * ------------------------------------------*/

@mixin btn-light-color($color-name, $text-color, $bg-color, $bg-color-hover) {
  &.h-btn--color-#{$color-name} {
    background-color: $bg-color;
    color: $text-color;

    &:not(:disabled):hover {
      background-color: $bg-color-hover;
    }
  }
}

.h-btn--variant-light {
  border: 1px solid transparent;

  @include btn-light-color(
    "primary",
    var(--hope-color-primary-600),
    var(--hope-color-primary-50),
    var(--hope-color-primary-100)
  );

  @include btn-light-color(
    "dark",
    var(--hope-color-dark-800),
    var(--hope-color-dark-50),
    var(--hope-color-dark-100)
  );

  @include btn-light-color(
    "neutral",
    var(--hope-color-neutral-600),
    var(--hope-color-neutral-100),
    var(--hope-color-neutral-200)
  );

  @include btn-light-color(
    "success",
    var(--hope-color-success-600),
    var(--hope-color-success-50),
    var(--hope-color-success-100)
  );

  @include btn-light-color(
    "info",
    var(--hope-color-info-600),
    var(--hope-color-info-50),
    var(--hope-color-info-100)
  );

  @include btn-light-color(
    "warning",
    var(--hope-color-warning-600),
    var(--hope-color-warning-50),
    var(--hope-color-warning-100)
  );

  @include btn-light-color(
    "danger",
    var(--hope-color-danger-600),
    var(--hope-color-danger-50),
    var(--hope-color-danger-100)
  );
}

/* Variant : Outline & Dashed
 * ------------------------------------------*/

@mixin btn-outline-color($color-name, $text-color, $bg-color-hover) {
  &.h-btn--color-#{$color-name} {
    border-color: $text-color;
    color: $text-color;

    &:not(:disabled):hover {
      background-color: $bg-color-hover;
    }
  }
}

.h-btn--variant-outline {
  border-style: solid;
}

.h-btn--variant-dashed {
  border-style: dashed;
}

.h-btn--variant-outline,
.h-btn--variant-dashed {
  border-width: 1px;
  background-color: transparent;

  @include btn-outline-color(
    "primary",
    var(--hope-color-primary-600),
    var(--hope-color-primary-100)
  );

  @include btn-outline-color("dark", var(--hope-color-dark-600), var(--hope-color-dark-50));

  @include btn-outline-color(
    "neutral",
    var(--hope-color-neutral-600),
    var(--hope-color-neutral-200)
  );

  @include btn-outline-color(
    "success",
    var(--hope-color-success-600),
    var(--hope-color-success-100)
  );

  @include btn-outline-color("info", var(--hope-color-info-600), var(--hope-color-info-100));

  @include btn-outline-color(
    "warning",
    var(--hope-color-warning-600),
    var(--hope-color-warning-100)
  );

  @include btn-outline-color("danger", var(--hope-color-danger-600), var(--hope-color-danger-100));
}

/* Variant : Text
 * ------------------------------------------*/

@mixin btn-text-color($color-name, $text-color, $bg-color-hover) {
  &.h-btn--color-#{$color-name} {
    color: $text-color;

    &:not(:disabled):hover {
      background-color: $bg-color-hover;
    }
  }
}

.h-btn--variant-text {
  border: 1px solid transparent;
  background-color: transparent;

  @include btn-text-color("primary", var(--hope-color-primary-600), var(--hope-color-primary-100));
  @include btn-text-color("dark", var(--hope-color-dark-600), var(--hope-color-dark-50));
  @include btn-text-color("neutral", var(--hope-color-neutral-600), var(--hope-color-neutral-200));
  @include btn-text-color("success", var(--hope-color-success-600), var(--hope-color-success-100));
  @include btn-text-color("info", var(--hope-color-info-600), var(--hope-color-info-100));
  @include btn-text-color("warning", var(--hope-color-warning-600), var(--hope-color-warning-100));
  @include btn-text-color("danger", var(--hope-color-danger-600), var(--hope-color-danger-100));
}
