@mixin max-with-breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    max-width: $breakpoint;
  }
}

.h-container {
  width: 100%;

  @include max-with-breakpoint(var(--hope-breakpoint-sm));
  @include max-with-breakpoint(var(--hope-breakpoint-md));
  @include max-with-breakpoint(var(--hope-breakpoint-lg));
  @include max-with-breakpoint(var(--hope-breakpoint-xl));
  @include max-with-breakpoint(var(--hope-breakpoint-2xl));

  &--centered {
    margin: 0 auto;
  }
}
