@use "./variables/breakpoints";

@mixin max-with-breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    max-width: $breakpoint;
  }
}

.h-container {
  width: 100%;

  @include max-with-breakpoint(breakpoints.$breakpoint-sm);
  @include max-with-breakpoint(breakpoints.$breakpoint-md);
  @include max-with-breakpoint(breakpoints.$breakpoint-lg);
  @include max-with-breakpoint(breakpoints.$breakpoint-xl);
  @include max-with-breakpoint(breakpoints.$breakpoint-2xl);

  &--centered {
    margin: 0 auto;
  }
}
