@use "./variables/colors";
@use "./variables/radii";
@use "./variables/sizes";
@use "./variables/space";
@use "./variables/typography";

.h-tag-close-btn {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  background-color: transparent;

  padding: 0;

  line-height: typography.$line-height-none;
  text-decoration: none;
  color: inherit;

  cursor: pointer;
  user-select: none;
  outline: none;
  transition: color 250ms, background-color 250ms;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 0;
  }

  &:disabled {
    border: 1px solid transparent;
    background-color: transparent;
    color: colors.$color-neutral-300;
    cursor: not-allowed;
  }
}

/* Sizes
 * ------------------------------------------*/

@mixin tag-close-btn-size($size-name, $size, $icon-size) {
  .h-tag .h-tag-close-btn--size-#{$size-name} {
    height: $size;
    width: $size;

    & .h-tag-close-btn--icon {
      height: $icon-size;
      width: $icon-size;
    }
  }
}

@include tag-close-btn-size("sm", sizes.$size-4, sizes.$size-3-5);
@include tag-close-btn-size("md", sizes.$size-5, sizes.$size-4);
@include tag-close-btn-size("lg", sizes.$size-7, sizes.$size-5);

/* Radius
 * ------------------------------------------*/

@mixin tag-close-btn-radius($size-name, $value) {
  .h-tag-close-btn--radius-#{$size-name} {
    border-radius: $value;
  }
}

@include tag-close-btn-radius("none", radii.$radii-none);
@include tag-close-btn-radius("xs", radii.$radii-xs);
@include tag-close-btn-radius("sm", radii.$radii-sm);
@include tag-close-btn-radius("md", radii.$radii-md);
@include tag-close-btn-radius("lg", radii.$radii-lg);
@include tag-close-btn-radius("xl", radii.$radii-xl);
@include tag-close-btn-radius("full", radii.$radii-full);

/* Variant : Filled
 * ------------------------------------------*/

@mixin tag-close-btn-filled-color($color-name, $bg-color-hover) {
  &.h-tag-close-btn--color-#{$color-name}:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag-close-btn--variant-filled {
  @include tag-close-btn-filled-color("primary", colors.$color-primary-600);
  @include tag-close-btn-filled-color("dark", colors.$color-dark-800);
  @include tag-close-btn-filled-color("neutral", colors.$color-neutral-600);
  @include tag-close-btn-filled-color("success", colors.$color-success-600);
  @include tag-close-btn-filled-color("info", colors.$color-info-600);
  @include tag-close-btn-filled-color("warning", colors.$color-warning-600);
  @include tag-close-btn-filled-color("danger", colors.$color-danger-600);
}

/* Variant : Light
 * ------------------------------------------*/

@mixin tag-close-btn-light-color($color-name, $bg-color-hover) {
  &.h-tag-close-btn--color-#{$color-name}:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag-close-btn--variant-light {
  @include tag-close-btn-light-color("primary", colors.$color-primary-100);
  @include tag-close-btn-light-color("dark", colors.$color-dark-100);
  @include tag-close-btn-light-color("neutral", colors.$color-neutral-200);
  @include tag-close-btn-light-color("success", colors.$color-success-100);
  @include tag-close-btn-light-color("info", colors.$color-info-100);
  @include tag-close-btn-light-color("warning", colors.$color-warning-100);
  @include tag-close-btn-light-color("danger", colors.$color-danger-100);
}

/* Variant : Outline
 * ------------------------------------------*/

@mixin tag-close-btn-outline-color($color-name, $bg-color-hover) {
  &.h-tag-close-btn--color-#{$color-name}:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag-close-btn--variant-outline {
  @include tag-close-btn-outline-color("primary", colors.$color-primary-100);
  @include tag-close-btn-outline-color("dark", colors.$color-dark-50);
  @include tag-close-btn-outline-color("neutral", colors.$color-neutral-200);
  @include tag-close-btn-outline-color("success", colors.$color-success-100);
  @include tag-close-btn-outline-color("info", colors.$color-info-100);
  @include tag-close-btn-outline-color("warning", colors.$color-warning-100);
  @include tag-close-btn-outline-color("danger", colors.$color-danger-100);
}

/* Variant : Dot
 * ------------------------------------------*/

.h-tag-close-btn--variant-dot:not(:disabled):hover {
  background-color: colors.$color-neutral-200;
}
