@use "./common/variables" as *;

.h-tag {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: $font-weight-semibold;
  line-height: $line-height-none;
  text-decoration: none;
}

.h-tag__close-btn {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  background-color: transparent;

  padding: 0;

  line-height: $line-height-none;
  text-decoration: none;
  color: inherit;

  cursor: pointer;
  user-select: none;
  outline: none;
  transition: color 250ms, background-color 250ms;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 0;
  }

  &:disabled {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--hope-color-neutral-300);
    cursor: not-allowed;
  }
}

/* Sizes
 * ------------------------------------------*/

@mixin tag-size(
  $size-name,
  $height,
  $icon-size,
  $font-size,
  $padding-x,
  $padding-when-section,
  $spacing
) {
  .h-tag--size-#{$size-name} {
    height: $height;
    padding: 0 $padding-x;
    font-size: $font-size;

    &.h-tag--with-left-section {
      padding-left: $padding-when-section;
    }

    &.h-tag--with-right-section {
      padding-right: $padding-when-section;
    }

    & svg {
      width: $icon-size;
      height: $icon-size;
    }

    & > * + * {
      margin-left: $spacing;
    }
  }
}

@include tag-size("sm", $size-5, $size-4, $font-size-xs, $size-2, $size-0-5, $size-1);
@include tag-size("md", $size-6, $size-5, $font-size-sm, $size-2, $size-0-5, $size-1-5);
@include tag-size("lg", $size-8, $size-7, $font-size-base, $size-3, $size-0_5, $size-2);

@mixin tag-close-btn-size($size-name, $size, $icon-size) {
  .h-tag--size-#{$size-name} .h-tag__close-btn {
    height: $size;
    width: $size;

    & .h-tag__close-btn__icon {
      height: $icon-size;
      width: $icon-size;
    }
  }
}

@include tag-close-btn-size("sm", $size-4, $size-3-5);
@include tag-close-btn-size("md", $size-5, $size-4);
@include tag-close-btn-size("lg", $size-7, $size-5);

/* Radius
 * ------------------------------------------*/

@mixin tag-radius($size-name, $value) {
  .h-tag--radius-#{$size-name} {
    border-radius: $value;
  }
}

@include tag-radius("none", $radii-none);
@include tag-radius("xs", $radii-xs);
@include tag-radius("sm", $radii-sm);
@include tag-radius("md", $radii-md);
@include tag-radius("lg", $radii-lg);
@include tag-radius("xl", $radii-xl);
@include tag-radius("full", $radii-full);

@mixin tag-close-btn-radius($size-name, $value) {
  .h-tag--radius-#{$size-name} .h-tag__close-btn {
    border-radius: $value;
  }
}

@include tag-close-btn-radius("none", $radii-none);
@include tag-close-btn-radius("xs", $radii-xs);
@include tag-close-btn-radius("sm", $radii-sm);
@include tag-close-btn-radius("md", $radii-md);
@include tag-close-btn-radius("lg", $radii-lg);
@include tag-close-btn-radius("xl", $radii-xl);
@include tag-close-btn-radius("full", $radii-full);

/* Variant : Filled
 * ------------------------------------------*/

@mixin tag-filled-color($color-name, $bg-color) {
  &.h-tag--color-#{$color-name} {
    background-color: $bg-color;
  }
}

@mixin tag-close-btn-filled-color($color-name, $bg-color-hover) {
  &.h-tag--color-#{$color-name} .h-tag__close-btn:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag--variant-filled {
  border: 1px solid transparent;
  color: white;

  @include tag-filled-color("primary", var(--hope-color-primary-500));
  @include tag-filled-color("dark", var(--hope-color-dark-500));
  @include tag-filled-color("neutral", var(--hope-color-neutral-500));
  @include tag-filled-color("success", var(--hope-color-success-500));
  @include tag-filled-color("info", var(--hope-color-info-500));
  @include tag-filled-color("warning", var(--hope-color-warning-500));
  @include tag-filled-color("danger", var(--hope-color-danger-500));

  @include tag-close-btn-filled-color("primary", var(--hope-color-primary-600));
  @include tag-close-btn-filled-color("dark", var(--hope-color-dark-800));
  @include tag-close-btn-filled-color("neutral", var(--hope-color-neutral-600));
  @include tag-close-btn-filled-color("success", var(--hope-color-success-600));
  @include tag-close-btn-filled-color("info", var(--hope-color-info-600));
  @include tag-close-btn-filled-color("warning", var(--hope-color-warning-600));
  @include tag-close-btn-filled-color("danger", var(--hope-color-danger-600));
}

/* Variant : Light
 * ------------------------------------------*/

@mixin tag-light-color($color-name, $text-color, $bg-color) {
  &.h-tag--color-#{$color-name} {
    background-color: $bg-color;
    color: $text-color;
  }
}

@mixin tag-close-btn-light-color($color-name, $bg-color-hover) {
  &.h-tag--color-#{$color-name} .h-tag__close-btn:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag--variant-light {
  border: 1px solid transparent;

  @include tag-light-color("primary", var(--hope-color-primary-600), var(--hope-color-primary-50));
  @include tag-light-color("dark", var(--hope-color-dark-800), var(--hope-color-dark-50));
  @include tag-light-color("neutral", var(--hope-color-neutral-600), var(--hope-color-neutral-50));
  @include tag-light-color("success", var(--hope-color-success-600), var(--hope-color-success-50));
  @include tag-light-color("info", var(--hope-color-info-600), var(--hope-color-info-50));
  @include tag-light-color("warning", var(--hope-color-warning-600), var(--hope-color-warning-50));
  @include tag-light-color("danger", var(--hope-color-danger-600), var(--hope-color-danger-50));

  @include tag-close-btn-light-color("primary", var(--hope-color-primary-100));
  @include tag-close-btn-light-color("dark", var(--hope-color-dark-100));
  @include tag-close-btn-light-color("neutral", var(--hope-color-neutral-200));
  @include tag-close-btn-light-color("success", var(--hope-color-success-100));
  @include tag-close-btn-light-color("info", var(--hope-color-info-100));
  @include tag-close-btn-light-color("warning", var(--hope-color-warning-100));
  @include tag-close-btn-light-color("danger", var(--hope-color-danger-100));
}

/* Variant : Outline
 * ------------------------------------------*/

@mixin tag-outline-color($color-name, $text-color) {
  &.h-tag--color-#{$color-name} {
    border-color: $text-color;
    color: $text-color;
  }
}

@mixin tag-close-btn-outline-color($color-name, $bg-color-hover) {
  &.h-tag--color-#{$color-name} .h-tag__close-btn:not(:disabled):hover {
    background-color: $bg-color-hover;
  }
}

.h-tag--variant-outline {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;

  @include tag-outline-color("primary", var(--hope-color-primary-600));
  @include tag-outline-color("dark", var(--hope-color-dark-600));
  @include tag-outline-color("neutral", var(--hope-color-neutral-600));
  @include tag-outline-color("success", var(--hope-color-success-600));
  @include tag-outline-color("info", var(--hope-color-info-600));
  @include tag-outline-color("warning", var(--hope-color-warning-600));
  @include tag-outline-color("danger", var(--hope-color-danger-600));

  @include tag-close-btn-outline-color("primary", var(--hope-color-primary-100));
  @include tag-close-btn-outline-color("dark", var(--hope-color-dark-50));
  @include tag-close-btn-outline-color("neutral", var(--hope-color-neutral-200));
  @include tag-close-btn-outline-color("success", var(--hope-color-success-100));
  @include tag-close-btn-outline-color("info", var(--hope-color-info-100));
  @include tag-close-btn-outline-color("warning", var(--hope-color-warning-100));
  @include tag-close-btn-outline-color("danger", var(--hope-color-danger-100));
}

/* Variant : Dot
 * ------------------------------------------*/

@mixin tag-dot-size($size) {
  &::before,
  &::after {
    width: $size;
    height: $size;
    border-radius: $size;
  }

  &::before {
    margin-right: $size;
  }

  &::after {
    margin-left: $size;
  }
}

@mixin tag-dot-color($color-name, $dot-color) {
  &.h-tag--color-#{$color-name} {
    &::before,
    &::after {
      background-color: $dot-color;
    }
  }
}

.h-tag--variant-dot {
  border: 1px solid var(--hope-color-neutral-300);
  background-color: transparent;
  color: var(--hope-color-neutral-600);

  &::before,
  &::after {
    content: "";
  }

  &::before {
    display: block;
  }

  &::after {
    display: none;
  }

  &.h-tag--with-left-section::before {
    display: none;
  }

  &.h-tag--with-left-section::after {
    display: block;
  }

  &.h-tag--with-left-section.h-tag--with-right-section::before,
  &.h-tag--with-left-section.h-tag--with-right-section::after {
    display: none;
  }

  &.h-tag--size-sm {
    @include tag-dot-size($size-1-5);
  }

  &.h-tag--size-md {
    @include tag-dot-size($size-2);
  }

  &.h-tag--size-lg {
    @include tag-dot-size($size-2-5);
  }

  & .h-tag__close-btn:not(:disabled):hover {
    background-color: var(--hope-color-neutral-200);
  }

  @include tag-dot-color("primary", var(--hope-color-primary-500));
  @include tag-dot-color("dark", var(--hope-color-dark-500));
  @include tag-dot-color("neutral", var(--hope-color-neutral-500));
  @include tag-dot-color("success", var(--hope-color-success-500));
  @include tag-dot-color("info", var(--hope-color-info-500));
  @include tag-dot-color("warning", var(--hope-color-warning-500));
  @include tag-dot-color("danger", var(--hope-color-danger-500));
}
