@use "sass:color";

@use "./variables/colors";
@use "./variables/radii";
@use "./variables/sizes";
@use "./variables/space";
@use "./variables/typography";

.h-tag {
  appearance: none;
  position: relative;

  overflow: hidden;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: typography.$font-weight-semibold;
  line-height: typography.$line-height-none;
  text-decoration: none;
}

/* Sizes
 * ------------------------------------------*/

@mixin tag-size(
  $size-name,
  $font-size,
  $icon-size,
  $height,
  $padding-x,
  $padding-when-section,
  $spacing
) {
  .h-tag--size-#{$size-name} {
    height: $height;
    padding: 0 $padding-x;
    font-size: $font-size;

    &.h-tag--with-left-section {
      padding-left: $padding-when-section;
    }

    &.h-tag--with-right-section {
      padding-right: $padding-when-section;
    }

    & svg {
      width: $icon-size;
      height: $icon-size;
    }

    & > * + * {
      margin-left: $spacing;
    }
  }
}

@include tag-size(
  "sm",
  typography.$font-size-xs,
  sizes.$size-4,
  sizes.$size-5,
  space.$space-2,
  space.$space-0-5,
  space.$space-1
);

@include tag-size(
  "md",
  typography.$font-size-sm,
  sizes.$size-5,
  sizes.$size-6,
  space.$space-2,
  space.$space-0-5,
  space.$space-1-5
);

@include tag-size(
  "lg",
  typography.$font-size-base,
  sizes.$size-7,
  sizes.$size-8,
  space.$space-3,
  space.$space-0_5,
  space.$space-2
);

/* Radius
 * ------------------------------------------*/

@mixin tag-radius($size-name, $value) {
  .h-tag--radius-#{$size-name} {
    border-radius: $value;
  }
}

@include tag-radius("none", radii.$radii-none);
@include tag-radius("xs", radii.$radii-xs);
@include tag-radius("sm", radii.$radii-sm);
@include tag-radius("md", radii.$radii-md);
@include tag-radius("lg", radii.$radii-lg);
@include tag-radius("xl", radii.$radii-xl);
@include tag-radius("full", radii.$radii-full);

/* Variant : Filled
 * ------------------------------------------*/

@mixin tag-filled-color($color-name, $bg-color) {
  &.h-tag--color-#{$color-name} {
    background-color: $bg-color;
  }
}

.h-tag--variant-filled {
  border: 1px solid transparent;
  color: white;

  @include tag-filled-color("primary", colors.$color-primary-500);
  @include tag-filled-color("dark", colors.$color-dark-500);
  @include tag-filled-color("neutral", colors.$color-neutral-500);
  @include tag-filled-color("success", colors.$color-success-500);
  @include tag-filled-color("info", colors.$color-info-500);
  @include tag-filled-color("warning", colors.$color-warning-500);
  @include tag-filled-color("danger", colors.$color-danger-500);
}

/* Variant : Light
 * ------------------------------------------*/

@mixin tag-light-color($color-name, $text-color, $bg-color) {
  &.h-tag--color-#{$color-name} {
    background-color: $bg-color;
    color: $text-color;
  }
}

.h-tag--variant-light {
  border: 1px solid transparent;

  @include tag-light-color("primary", colors.$color-primary-600, colors.$color-primary-50);
  @include tag-light-color("dark", colors.$color-dark-800, colors.$color-dark-50);
  @include tag-light-color("neutral", colors.$color-neutral-600, colors.$color-neutral-50);
  @include tag-light-color("success", colors.$color-success-600, colors.$color-success-50);
  @include tag-light-color("info", colors.$color-info-600, colors.$color-info-50);
  @include tag-light-color("warning", colors.$color-warning-600, colors.$color-warning-50);
  @include tag-light-color("danger", colors.$color-danger-600, colors.$color-danger-50);
}

/* Variant : Outline
 * ------------------------------------------*/

@mixin tag-outline-color($color-name, $text-color) {
  &.h-tag--color-#{$color-name} {
    border-color: color.adjust($text-color, $alpha: -0.25);
    color: $text-color;
  }
}

.h-tag--variant-outline {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;

  @include tag-outline-color("primary", colors.$color-primary-600);
  @include tag-outline-color("dark", colors.$color-dark-600);
  @include tag-outline-color("neutral", colors.$color-neutral-600);
  @include tag-outline-color("success", colors.$color-success-600);
  @include tag-outline-color("info", colors.$color-info-600);
  @include tag-outline-color("warning", colors.$color-warning-600);
  @include tag-outline-color("danger", colors.$color-danger-600);
}

/* Variant : Dot
 * ------------------------------------------*/

@mixin tag-dot-size($size) {
  &::before,
  &::after {
    width: $size;
    height: $size;
    border-radius: $size;
  }

  &::before {
    margin-right: $size;
  }

  &::after {
    margin-left: $size;
  }
}

@mixin tag-dot-color($color-name, $dot-color) {
  &.h-tag--color-#{$color-name} {
    &::before,
    &::after {
      background-color: $dot-color;
    }
  }
}

.h-tag--variant-dot {
  border: 1px solid colors.$color-neutral-300;
  background-color: transparent;
  color: colors.$color-neutral-600;

  &::before,
  &::after {
    content: "";
  }

  &::before {
    display: block;
  }

  &::after {
    display: none;
  }

  &.h-tag--with-left-section::before {
    display: none;
  }

  &.h-tag--with-left-section::after {
    display: block;
  }

  &.h-tag--with-left-section.h-tag--with-right-section::before,
  &.h-tag--with-left-section.h-tag--with-right-section::after {
    display: none;
  }

  &.h-tag--size-sm {
    @include tag-dot-size(sizes.$size-1-5);
  }

  &.h-tag--size-md {
    @include tag-dot-size(sizes.$size-2);
  }

  &.h-tag--size-lg {
    @include tag-dot-size(sizes.$size-2-5);
  }

  @include tag-dot-color("primary", colors.$color-primary-500);
  @include tag-dot-color("dark", colors.$color-dark-500);
  @include tag-dot-color("neutral", colors.$color-neutral-500);
  @include tag-dot-color("success", colors.$color-success-500);
  @include tag-dot-color("info", colors.$color-info-500);
  @include tag-dot-color("warning", colors.$color-warning-500);
  @include tag-dot-color("danger", colors.$color-danger-500);
}
