@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/lexend.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}

/* Credit: https://github.com/vercel/turborepo/blob/c51afaf5d74bf80be2da053d76cb6c41210fdef0/docs/styles.css */
body {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 300px),
    fixed 0 0 / 20px 20px radial-gradient(var(--hope-colors-neutral-200) 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(var(--hope-colors-neutral-200) 1px, transparent 0);
}

body.hope-theme-dark {
  background: linear-gradient(
      to bottom,
      rgba(21, 22, 25, 0) 0%,
      var(--hope-colors-background) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(var(--hope-colors-neutral-800) 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(var(--hope-colors-neutral-800) 1px, transparent 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* List are unstyled. */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Anchor are unstyled. */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/* Remove iframe border. */
iframe {
  border: none;
}

:root {
  --base-50: hsl(217, 10%, 98%);
  --base-100: hsl(217, 10%, 96%);
  --base-200: hsl(217, 10%, 90%);
  --base-300: hsl(217, 10%, 83%);
  --base-400: hsl(217, 10%, 64%);
  --base-500: hsl(217, 10%, 45%);
  --base-600: hsl(217, 10%, 32%);
  --base-700: hsl(217, 10%, 25%);
  --base-800: hsl(217, 10%, 15%);
  --base-900: hsl(217, 10%, 9%);

  --slate-50: hsl(210, 40%, 98%);
  --slate-100: hsl(210, 40%, 96%);
  --slate-200: hsl(214, 32%, 91%);
  --slate-300: hsl(213, 27%, 84%);
  --slate-400: hsl(215, 20%, 65%);
  --slate-500: hsl(215, 16%, 47%);
  --slate-600: hsl(215, 19%, 35%);
  --slate-700: hsl(215, 25%, 27%);
  --slate-800: hsl(217, 33%, 17%);
  --slate-900: hsl(222, 47%, 11%);

  --gray-50: hsl(210, 20%, 98%);
  --gray-100: hsl(220, 14%, 96%);
  --gray-200: hsl(220, 13%, 91%);
  --gray-300: hsl(216, 12%, 84%);
  --gray-400: hsl(218, 11%, 65%);
  --gray-500: hsl(220, 9%, 46%);
  --gray-600: hsl(215, 14%, 34%);
  --gray-700: hsl(217, 19%, 27%);
  --gray-800: hsl(215, 28%, 17%);
  --gray-900: hsl(221, 39%, 11%);
}
