@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/lexend.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}

/* Credit: https://github.com/vercel/turborepo/blob/c51afaf5d74bf80be2da053d76cb6c41210fdef0/docs/styles.css */
body {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 300px),
    fixed 0 0 / 20px 20px radial-gradient(var(--hope-colors-neutral-200) 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(var(--hope-colors-neutral-200) 1px, transparent 0);
}

body.hope-theme-dark {
  background: linear-gradient(
      to bottom,
      rgba(21, 22, 25, 0) 0%,
      var(--hope-colors-common-background) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(var(--hope-colors-neutral-800) 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(var(--hope-colors-neutral-800) 1px, transparent 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* List are unstyled. */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Anchor are unstyled. */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/* Remove iframe border. */
iframe {
  border: none;
}

.DocSearch-Container {
  z-index: var(--hope-zIndices-modal);
}
