@use "../base/mixins" as *;

/* -------------------------------------------------------------------------------------------------
 * Theme variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-divider-thickness: 1px;
}

@include color-mode-vars(
  (
    color-mode-value(--hope-divider-border-color, rgb-var(--hope-colors-neutral-300)),
    color-mode-value(--hope-divider-label-color, rgb-var(--hope-colors-neutral-600))
  )
);

/* -------------------------------------------------------------------------------------------------
 * Divider
 * -----------------------------------------------------------------------------------------------*/
.hope-divider {
  display: flex;
  align-items: center;
  margin: 0;
  border-width: 0;
  border-color: var(--hope-divider-border-color);
}

/* -------------------------------------------------------------------------------------------------
 * Divider - variant
 * -----------------------------------------------------------------------------------------------*/
.hope-divider--solid {
  border-style: solid;
}

.hope-divider--dashed {
  border-style: dashed;
}

/* -------------------------------------------------------------------------------------------------
 * Divider - orientation
 * -----------------------------------------------------------------------------------------------*/
.hope-divider--horizontal {
  border-top-width: var(--hope-divider-thickness);
}

.hope-divider--vertical {
  align-self: stretch;
  height: 100%;
  border-left-width: var(--hope-divider-thickness);
}

/* -------------------------------------------------------------------------------------------------
 * Divider - with label
 * -----------------------------------------------------------------------------------------------*/
.hope-divider--label-center,
.hope-divider--label-start,
.hope-divider--label-end {
  border-top: 0;

  @include text-sm;
  color: var(--hope-divider-label-color);
  font-weight: 500;

  &::before,
  &::after {
    border-top-color: var(--hope-divider-border-color);
  }

  &.hope-divider--solid {
    &::before,
    &::after {
      border-top-style: solid;
    }
  }

  &.hope-divider--dashed {
    &::before,
    &::after {
      border-top-style: dashed;
    }
  }
}

.hope-divider--label-center,
.hope-divider--label-start {
  &::after {
    content: "";
    flex: 1;
    height: var(--hope-divider-thickness);
    border-top-width: var(--hope-divider-thickness);
    margin-inline-start: 8px;
  }
}

.hope-divider--label-center,
.hope-divider--label-end {
  &::before {
    content: "";
    flex: 1;
    height: var(--hope-divider-thickness);
    border-top-width: var(--hope-divider-thickness);
    margin-inline-end: 8px;
  }
}
