/*
* Internal Sass variables, not customizable by end users.
*/

// Font size
$font-size-2xs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;

// Font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line height
$line-height-none: 1;
$line-height-base: 1.5;

// Radii
$radii-none: 0;
$radii-xs: 0.125rem;
$radii-sm: 0.25rem;
$radii-md: 0.375rem;
$radii-lg: 0.5rem;
$radii-xl: 0.75rem;
$radii-2xl: 1rem;
$radii-3xl: 1.5rem;
$radii-full: 9999px;

// Size / Spacing
$size-none: 0;
$size-0-5: 0.125rem;
$size-1: 0.25rem;
$size-1-5: 0.375rem;
$size-2: 0.5rem;
$size-2-5: 0.625rem;
$size-3: 0.75rem;
$size-3-5: 0.875rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-12: 3rem;
$size-14: 3.5rem;
$size-16: 4rem;
$size-20: 5rem;
$size-24: 6rem;

// Shadows
$shadow-none: 0 0 #0000;
$shadow-xs: 0 0 0 1px rgb(0 0 0 / 0.05);
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-md: 0 1px 3px 0 rgb(0 0 0 / 0.08), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-lg: 0 4px 6px -1px rgb(0 0 0 / 0.08), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-xl: 0 10px 15px -3px rgb(0 0 0 / 0.08), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 20px 25px -5px rgb(0 0 0 / 0.08), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-3xl: 0 25px 50px -12px rgb(0 0 0 / 0.23);
$shadow-inner: inset 0 3px 6px 0 rgb(0 0 0 / 0.3);

// Z-indice
$z-indice-docked: 10;
$z-indice-dropdown: 1000;
$z-indice-sticky: 1100;
$z-indice-banner: 1200;
$z-indice-overlay: 1300;
$z-indice-modal: 1400;
$z-indice-popover: 1500;
$z-indice-skipLink: 1600;
$z-indice-toast: 1700;
$z-indice-tooltip: 1800;
