/* Primary */
$color-primary-50: #eff6ff !default;
$color-primary-100: #dbeafe !default;
$color-primary-200: #bfdbfe !default;
$color-primary-300: #93c5fd !default;
$color-primary-400: #60a5fa !default;
$color-primary-500: #3b82f6 !default;
$color-primary-600: #2563eb !default;
$color-primary-700: #1d4ed8 !default;
$color-primary-800: #1e40af !default;
$color-primary-900: #1e3a8a !default;

/* Dark */
$color-dark-50: #c1c2c5 !default;
$color-dark-100: #a6a7ab !default;
$color-dark-200: #909296 !default;
$color-dark-300: #5c5f66 !default;
$color-dark-400: #373a40 !default;
$color-dark-500: #2c2e33 !default;
$color-dark-600: #25262b !default;
$color-dark-700: #1a1b1e !default;
$color-dark-800: #141517 !default;
$color-dark-900: #101113 !default;

/* Neutral */
$color-neutral-50: #f9fafb !default;
$color-neutral-100: #f3f4f6 !default;
$color-neutral-200: #e5e7eb !default;
$color-neutral-300: #d1d5db !default;
$color-neutral-400: #9ca3af !default;
$color-neutral-500: #6b7280 !default;
$color-neutral-600: #4b5563 !default;
$color-neutral-700: #374151 !default;
$color-neutral-800: #1f2937 !default;
$color-neutral-900: #111827 !default;

/* Success */
$color-success-50: #ecfdf5 !default;
$color-success-100: #d1fae5 !default;
$color-success-200: #a7f3d0 !default;
$color-success-300: #6ee7b7 !default;
$color-success-400: #34d399 !default;
$color-success-500: #10b981 !default;
$color-success-600: #059669 !default;
$color-success-700: #047857 !default;
$color-success-800: #065f46 !default;
$color-success-900: #064e3b !default;

/* Info */
$color-info-50: #f0f9ff !default;
$color-info-100: #e0f2fe !default;
$color-info-200: #bae6fd !default;
$color-info-300: #7dd3fc !default;
$color-info-400: #38bdf8 !default;
$color-info-500: #0ea5e9 !default;
$color-info-600: #0284c7 !default;
$color-info-700: #0369a1 !default;
$color-info-800: #075985 !default;
$color-info-900: #0c4a6e !default;

/* Warning */
$color-warning-50: #fffbeb !default;
$color-warning-100: #fef3c7 !default;
$color-warning-200: #fde68a !default;
$color-warning-300: #fcd34d !default;
$color-warning-400: #fbbf24 !default;
$color-warning-500: #f59e0b !default;
$color-warning-600: #d97706 !default;
$color-warning-700: #b45309 !default;
$color-warning-800: #92400e !default;
$color-warning-900: #78350f !default;

/* Danger */
$color-danger-50: #fef2f2 !default;
$color-danger-100: #fee2e2 !default;
$color-danger-200: #fecaca !default;
$color-danger-300: #fca5a5 !default;
$color-danger-400: #f87171 !default;
$color-danger-500: #ef4444 !default;
$color-danger-600: #dc2626 !default;
$color-danger-700: #b91c1c !default;
$color-danger-800: #991b1b !default;
$color-danger-900: #7f1d1d !default;
