$size-0-5: 0.125rem !default;
$size-1: 0.25rem !default;
$size-1-5: 0.375rem !default;
$size-2: 0.5rem !default;
$size-2-5: 0.625rem !default;
$size-3: 0.75rem !default;
$size-3-5: 0.875rem !default;
$size-4: 1rem !default;
$size-5: 1.25rem !default;
$size-6: 1.5rem !default;
$size-7: 1.75rem !default;
$size-8: 2rem !default;
$size-9: 2.25rem !default;
$size-10: 2.5rem !default;
$size-12: 3rem !default;
$size-14: 3.5rem !default;
$size-16: 4rem !default;
$size-20: 5rem !default;
$size-24: 6rem !default;
$size-28: 7rem !default;
$size-32: 8rem !default;
$size-36: 9rem !default;
$size-40: 10rem !default;
$size-44: 11rem !default;
$size-48: 12rem !default;
$size-52: 13rem !default;
$size-56: 14rem !default;
$size-60: 15rem !default;
$size-64: 16rem !default;
$size-72: 18rem !default;
$size-80: 20rem !default;
$size-96: 24rem !default;

$size-3xs: 14rem !default;
$size-2xs: 16rem !default;
$size-xs: 20rem !default;
$size-sm: 24rem !default;
$size-md: 28rem !default;
$size-lg: 32rem !default;
$size-xl: 36rem !default;
$size-2xl: 42rem !default;
$size-3xl: 48rem !default;
$size-4xl: 56rem !default;
$size-5xl: 64rem !default;
$size-6xl: 72rem !default;
$size-7xl: 80rem !default;
$size-8xl: 90rem !default;
