/* -------------------------------------------------------------------------------------------------
 * Hope UI - CSS variables
 * -----------------------------------------------------------------------------------------------*/

:root {
  // Radix - BlackA
  // --hope-colors-black-alpha-1: 0 0 0 / 0.012;
  // --hope-colors-black-alpha-2: 0 0 0 / 0.027;
  // --hope-colors-black-alpha-3: 0 0 0 / 0.047;
  // --hope-colors-black-alpha-4: 0 0 0 / 0.071;
  // --hope-colors-black-alpha-5: 0 0 0 / 0.09;
  // --hope-colors-black-alpha-6: 0 0 0 / 0.114;
  // --hope-colors-black-alpha-7: 0 0 0 / 0.141;
  // --hope-colors-black-alpha-8: 0 0 0 / 0.22;
  // --hope-colors-black-alpha-9: 0 0 0 / 0.439;
  // --hope-colors-black-alpha-10: 0 0 0 / 0.478;
  // --hope-colors-black-alpha-11: 0 0 0 / 0.565;
  // --hope-colors-black-alpha-12: 0 0 0 / 0.91;

  // Radix - WhiteA
  // --hope-colors-white-alpha-1: 255 255 255 / 0;
  // --hope-colors-white-alpha-2: 255 255 255 / 0.012;
  // --hope-colors-white-alpha-3: 255 255 255 / 0.035;
  // --hope-colors-white-alpha-4: 255 255 255 / 0.055;
  // --hope-colors-white-alpha-5: 255 255 255 / 0.086;
  // --hope-colors-white-alpha-6: 255 255 255 / 0.125;
  // --hope-colors-white-alpha-7: 255 255 255 / 0.176;
  // --hope-colors-white-alpha-8: 255 255 255 / 0.247;
  // --hope-colors-white-alpha-9: 255 255 255 / 0.384;
  // --hope-colors-white-alpha-10: 255 255 255 / 0.447;
  // --hope-colors-white-alpha-11: 255 255 255 / 0.592;
  // --hope-colors-white-alpha-12: 255 255 255 / 0.922;

  // Radix - Cyan
  --hope-colors-primary-1: 250 253 254;
  --hope-colors-primary-2: 242 252 253;
  --hope-colors-primary-3: 231 249 251;
  --hope-colors-primary-4: 216 243 246;
  --hope-colors-primary-5: 196 234 239;
  --hope-colors-primary-6: 170 222 230;
  --hope-colors-primary-7: 132 205 218;
  --hope-colors-primary-8: 61 185 207;
  --hope-colors-primary-9: 5 162 194;
  --hope-colors-primary-10: 8 148 179;
  --hope-colors-primary-11: 12 119 146;
  --hope-colors-primary-12: 4 49 60;

  // Radix - Violet
  --hope-colors-accent-1: 253 252 254;
  --hope-colors-accent-2: 251 250 255;
  --hope-colors-accent-3: 245 242 255;
  --hope-colors-accent-4: 237 233 254;
  --hope-colors-accent-5: 228 222 252;
  --hope-colors-accent-6: 215 207 249;
  --hope-colors-accent-7: 196 184 243;
  --hope-colors-accent-8: 170 153 236;
  --hope-colors-accent-9: 110 86 207;
  --hope-colors-accent-10: 100 79 193;
  --hope-colors-accent-11: 87 70 175;
  --hope-colors-accent-12: 32 19 75;

  // Radix - Slate
  --hope-colors-neutral-1: 251 252 253;
  --hope-colors-neutral-2: 248 249 250;
  --hope-colors-neutral-3: 241 243 245;
  --hope-colors-neutral-4: 236 238 240;
  --hope-colors-neutral-5: 230 232 235;
  --hope-colors-neutral-6: 223 227 230;
  --hope-colors-neutral-7: 215 219 223;
  --hope-colors-neutral-8: 193 200 205;
  --hope-colors-neutral-9: 136 144 150;
  --hope-colors-neutral-10: 126 134 140;
  --hope-colors-neutral-11: 104 112 118;
  --hope-colors-neutral-12: 17 24 28;

  // Radix - Green
  --hope-colors-success-1: 251 254 252;
  --hope-colors-success-2: 242 252 245;
  --hope-colors-success-3: 233 249 238;
  --hope-colors-success-4: 221 243 228;
  --hope-colors-success-5: 204 235 215;
  --hope-colors-success-6: 180 223 196;
  --hope-colors-success-7: 146 206 172;
  --hope-colors-success-8: 91 185 140;
  --hope-colors-success-9: 48 164 108;
  --hope-colors-success-10: 41 151 100;
  --hope-colors-success-11: 24 121 78;
  --hope-colors-success-12: 21 50 38;

  // Radix - Blue
  --hope-colors-info-1: 251 253 255;
  --hope-colors-info-2: 245 250 255;
  --hope-colors-info-3: 237 246 255;
  --hope-colors-info-4: 225 240 255;
  --hope-colors-info-5: 206 231 254;
  --hope-colors-info-6: 183 217 248;
  --hope-colors-info-7: 150 199 242;
  --hope-colors-info-8: 94 176 239;
  --hope-colors-info-9: 0 145 255;
  --hope-colors-info-10: 0 129 242;
  --hope-colors-info-11: 0 106 220;
  --hope-colors-info-12: 0 37 77;

  // Radix - Amber
  --hope-colors-warning-1: 254 253 251;
  --hope-colors-warning-2: 255 249 237;
  --hope-colors-warning-3: 255 244 213;
  --hope-colors-warning-4: 255 236 188;
  --hope-colors-warning-5: 255 227 162;
  --hope-colors-warning-6: 255 211 134;
  --hope-colors-warning-7: 243 186 99;
  --hope-colors-warning-8: 238 157 43;
  --hope-colors-warning-9: 255 178 36;
  --hope-colors-warning-10: 255 160 28;
  --hope-colors-warning-11: 173 87 0;
  --hope-colors-warning-12: 78 32 9;

  // Radix - Red
  --hope-colors-danger-1: 255 252 252;
  --hope-colors-danger-2: 255 248 248;
  --hope-colors-danger-3: 255 239 239;
  --hope-colors-danger-4: 255 229 229;
  --hope-colors-danger-5: 253 216 216;
  --hope-colors-danger-6: 249 198 198;
  --hope-colors-danger-7: 243 174 175;
  --hope-colors-danger-8: 235 144 145;
  --hope-colors-danger-9: 229 72 77;
  --hope-colors-danger-10: 220 61 67;
  --hope-colors-danger-11: 205 43 49;
  --hope-colors-danger-12: 56 19 22;

  // Radix - Indigo 9
  --hope-colors-focus-ring: 62 99 221;

  // Semantic Colors
  --hope-colors-background: 255 255 255;

  --hope-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --hope-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --hope-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* -------------------------------------------------------------------------------------------------
 * Dark mode
 * -----------------------------------------------------------------------------------------------*/
.hope-ui-dark {
  // Radix - Cyan Dark
  --hope-colors-primary-1: 7 25 29;
  --hope-colors-primary-2: 6 30 36;
  --hope-colors-primary-3: 7 40 48;
  --hope-colors-primary-4: 7 48 59;
  --hope-colors-primary-5: 7 56 68;
  --hope-colors-primary-6: 6 65 80;
  --hope-colors-primary-7: 4 80 99;
  --hope-colors-primary-8: 0 100 125;
  --hope-colors-primary-9: 5 162 194;
  --hope-colors-primary-10: 0 177 204;
  --hope-colors-primary-11: 0 194 215;
  --hope-colors-primary-12: 225 248 250;

  // Radix - Violet Dark
  --hope-colors-accent-1: 23 21 31;
  --hope-colors-accent-2: 28 23 43;
  --hope-colors-accent-3: 37 30 64;
  --hope-colors-accent-4: 44 34 80;
  --hope-colors-accent-5: 50 39 95;
  --hope-colors-accent-6: 57 44 114;
  --hope-colors-accent-7: 68 53 146;
  --hope-colors-accent-8: 88 66 195;
  --hope-colors-accent-9: 110 86 207;
  --hope-colors-accent-10: 124 102 220;
  --hope-colors-accent-11: 158 140 252;
  --hope-colors-accent-12: 241 238 254;

  // Radix - Slate Dark
  --hope-colors-neutral-1: 21 23 24;
  --hope-colors-neutral-2: 26 29 30;
  --hope-colors-neutral-3: 32 36 37;
  --hope-colors-neutral-4: 38 41 43;
  --hope-colors-neutral-5: 43 47 49;
  --hope-colors-neutral-6: 49 53 56;
  --hope-colors-neutral-7: 58 63 66;
  --hope-colors-neutral-8: 76 81 85;
  --hope-colors-neutral-9: 105 113 119;
  --hope-colors-neutral-10: 120 127 133;
  --hope-colors-neutral-11: 155 161 166;
  --hope-colors-neutral-12: 236 237 238;

  // Radix - Green Dark
  --hope-colors-success-1: 13 25 18;
  --hope-colors-success-2: 12 31 23;
  --hope-colors-success-3: 15 41 30;
  --hope-colors-success-4: 17 49 35;
  --hope-colors-success-5: 19 57 41;
  --hope-colors-success-6: 22 68 48;
  --hope-colors-success-7: 27 84 58;
  --hope-colors-success-8: 35 110 74;
  --hope-colors-success-9: 48 164 108;
  --hope-colors-success-10: 60 177 121;
  --hope-colors-success-11: 76 195 138;
  --hope-colors-success-12: 229 251 235;

  // Radix - Blue Dark
  --hope-colors-info-1: 15 23 32;
  --hope-colors-info-2: 15 27 45;
  --hope-colors-info-3: 16 36 62;
  --hope-colors-info-4: 16 42 76;
  --hope-colors-info-5: 15 48 88;
  --hope-colors-info-6: 13 56 104;
  --hope-colors-info-7: 10 68 129;
  --hope-colors-info-8: 9 84 165;
  --hope-colors-info-9: 0 145 255;
  --hope-colors-info-10: 54 158 255;
  --hope-colors-info-11: 82 169 255;
  --hope-colors-info-12: 234 246 255;

  // Radix - Amber Dark
  --hope-colors-warning-1: 31 19 0;
  --hope-colors-warning-2: 39 23 0;
  --hope-colors-warning-3: 52 28 0;
  --hope-colors-warning-4: 63 34 0;
  --hope-colors-warning-5: 74 41 0;
  --hope-colors-warning-6: 87 51 0;
  --hope-colors-warning-7: 105 63 5;
  --hope-colors-warning-8: 130 78 0;
  --hope-colors-warning-9: 255 178 36;
  --hope-colors-warning-10: 255 203 71;
  --hope-colors-warning-11: 241 161 13;
  --hope-colors-warning-12: 254 243 221;

  // Radix - Red Dark
  --hope-colors-danger-1: 31 19 21;
  --hope-colors-danger-2: 41 20 21;
  --hope-colors-danger-3: 60 24 26;
  --hope-colors-danger-4: 72 26 29;
  --hope-colors-danger-5: 84 27 31;
  --hope-colors-danger-6: 103 30 34;
  --hope-colors-danger-7: 130 32 37;
  --hope-colors-danger-8: 170 36 41;
  --hope-colors-danger-9: 229 72 77;
  --hope-colors-danger-10: 242 85 90;
  --hope-colors-danger-11: 255 99 105;
  --hope-colors-danger-12: 254 236 238;

  // Radix - Indigo Dark 9
  --hope-colors-focus-ring: 62 99 221;

  // Semantic Colors
  --hope-colors-background: var(--hope-colors-neutral-1);
}
