/* -------------------------------------------------------------------------------------------------
 * Variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-alert-border-radius: 0.25rem;
  --hope-alert-padding: 0.75rem 1rem;
  --hope-alert-font-size: 1rem;
  --hope-alert-line-height: 1.5rem;
  --hope-alert-icon-size: 1.5rem;
  --hope-alert-accent-width: 0.25rem;
}

/* -------------------------------------------------------------------------------------------------
 * Alert
 * -----------------------------------------------------------------------------------------------*/
.hope-alert {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--hope-alert-border-radius);
  padding: var(--hope-alert-padding);
  font-size: var(--hope-alert-font-size);
  line-height: var(--hope-alert-line-height);
}

// Variants - solid
.hope-alert--solid {
  color: white;

  &.hope-alert--success {
    background-color: rgb(var(--hope-colors-success-500));
  }

  &.hope-alert--info {
    background-color: rgb(var(--hope-colors-info-500));
  }

  &.hope-alert--warning {
    background-color: rgb(var(--hope-colors-warning-500));
    color: rgb(var(--hope-colors-dark-800));

    & .hope-alert-icon {
      color: rgb(var(--hope-colors-dark-700));
    }
  }

  &.hope-alert--danger {
    background-color: rgb(var(--hope-colors-danger-500));
  }
}

// Variants - left-accent
.hope-alert--left-accent {
  border-left-style: solid;
  border-left-width: var(--hope-alert-accent-width);

  &.hope-alert--success {
    border-left-color: rgb(var(--hope-colors-success-500));
  }

  &.hope-alert--info {
    border-left-color: rgb(var(--hope-colors-info-500));
  }

  &.hope-alert--warning {
    border-left-color: rgb(var(--hope-colors-warning-500));
  }

  &.hope-alert--danger {
    border-left-color: rgb(var(--hope-colors-danger-500));
  }
}

// Variants - top-accent
.hope-alert--top-accent {
  border-top-style: solid;
  border-top-width: var(--hope-alert-accent-width);

  &.hope-alert--success {
    border-top-color: rgb(var(--hope-colors-success-500));
  }

  &.hope-alert--info {
    border-top-color: rgb(var(--hope-colors-info-500));
  }

  &.hope-alert--warning {
    border-top-color: rgb(var(--hope-colors-warning-500));
  }

  &.hope-alert--danger {
    border-top-color: rgb(var(--hope-colors-danger-500));
  }
}

// Variants - subtle / left-accent / top-accent
.hope-alert--subtle,
.hope-alert--left-accent,
.hope-alert--top-accent {
  &.hope-alert--success {
    background-color: rgb(var(--hope-colors-success-50));
    color: rgb(var(--hope-colors-success-700));

    & .hope-alert-icon {
      color: rgb(var(--hope-colors-success-500));
    }
  }

  &.hope-alert--info {
    background-color: rgb(var(--hope-colors-info-50));
    color: rgb(var(--hope-colors-info-700));

    & .hope-alert-icon {
      color: rgb(var(--hope-colors-info-500));
    }
  }

  &.hope-alert--warning {
    background-color: rgb(var(--hope-colors-warning-50));
    color: rgb(var(--hope-colors-warning-700));

    & .hope-alert-icon {
      color: rgb(var(--hope-colors-warning-500));
    }
  }

  &.hope-alert--danger {
    background-color: rgb(var(--hope-colors-danger-50));
    color: rgb(var(--hope-colors-danger-700));

    & .hope-alert-icon {
      color: rgb(var(--hope-colors-danger-500));
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * AlertIcon
 * -----------------------------------------------------------------------------------------------*/
.hope-alert-icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--hope-alert-icon-size);
  height: var(--hope-alert-icon-size);
}

/* -------------------------------------------------------------------------------------------------
* Dark mode
* -----------------------------------------------------------------------------------------------*/
.hope-ui-dark {
  // Variants - solid
  .hope-alert--solid {
    color: rgb(255 255 255 / 0.9);

    & .hope-alert-icon {
      color: rgb(255 255 255 / 0.8);
    }

    &.hope-alert--success {
      background-color: rgb(var(--hope-colors-success-700));
    }

    &.hope-alert--info {
      background-color: rgb(var(--hope-colors-info-700));
    }

    &.hope-alert--warning {
      background-color: rgb(var(--hope-colors-warning-700));
      color: rgb(var(--hope-colors-dark-700));

      & .hope-alert-icon {
        color: rgb(var(--hope-colors-dark-600));
      }
    }

    &.hope-alert--danger {
      background-color: rgb(var(--hope-colors-danger-700));
    }
  }

  // Variants - subtle / left-accent / top-accent
  .hope-alert--subtle,
  .hope-alert--left-accent,
  .hope-alert--top-accent {
    &.hope-alert--success {
      background-color: rgb(var(--hope-colors-success-700) / 0.35);
      color: rgb(var(--hope-colors-success-400));

      & .hope-alert-icon {
        color: rgb(var(--hope-colors-success-500));
      }
    }

    &.hope-alert--info {
      background-color: rgb(var(--hope-colors-info-700) / 0.35);
      color: rgb(var(--hope-colors-info-400));

      & .hope-alert-icon {
        color: rgb(var(--hope-colors-info-500));
      }
    }

    &.hope-alert--warning {
      background-color: rgb(var(--hope-colors-warning-700) / 0.35);
      color: rgb(var(--hope-colors-warning-400));

      & .hope-alert-icon {
        color: rgb(var(--hope-colors-warning-500));
      }
    }

    &.hope-alert--danger {
      background-color: rgb(var(--hope-colors-danger-700) / 0.35);
      color: rgb(var(--hope-colors-danger-400));

      & .hope-alert-icon {
        color: rgb(var(--hope-colors-danger-500));
      }
    }
  }
}
