/* -------------------------------------------------------------------------------------------------
 * Variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-alert-border-radius: 0.25rem;
  --hope-alert-padding: 0.75rem 1rem;
  --hope-alert-font-size: 1rem;
  --hope-alert-line-height: 1.5rem;
  --hope-alert-icon-size: 1.5rem;
  --hope-alert-accent-width: 0.25rem;
}

$hope-alert-colors: success, info, warning, danger;

/* -------------------------------------------------------------------------------------------------
 * Alert
 * -----------------------------------------------------------------------------------------------*/
.hope-alert {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--hope-alert-border-radius);
  padding: var(--hope-alert-padding);
  font-size: var(--hope-alert-font-size);
  line-height: var(--hope-alert-line-height);
}

/* -------------------------------------------------------------------------------------------------
 * Alert - variant
 * -----------------------------------------------------------------------------------------------*/
.hope-alert--solid {
  color: white;

  &.hope-alert--warning {
    color: var(--hope-colors-black-alpha-12);
  }

  @each $color in $hope-alert-colors {
    &.hope-alert--#{$color} {
      background-color: var(--hope-colors-#{$color}-9);
    }
  }
}

.hope-alert--left-accent {
  border-left-style: solid;
  border-left-width: var(--hope-alert-accent-width);

  @each $color in $hope-alert-colors {
    &.hope-alert--#{$color} {
      border-left-color: var(--hope-colors-#{$color}-9);
    }
  }
}

.hope-alert--top-accent {
  border-top-style: solid;
  border-top-width: var(--hope-alert-accent-width);

  @each $color in $hope-alert-colors {
    &.hope-alert--#{$color} {
      border-top-color: var(--hope-colors-#{$color}-9);
    }
  }
}

.hope-alert--subtle,
.hope-alert--left-accent,
.hope-alert--top-accent {
  @each $color in $hope-alert-colors {
    &.hope-alert--#{$color} {
      background-color: var(--hope-colors-#{$color}-3);
      color: var(--hope-colors-#{$color}-11);

      & .hope-alert__icon {
        color: var(--hope-colors-#{$color}-9);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * AlertIcon
 * -----------------------------------------------------------------------------------------------*/
.hope-alert__icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--hope-alert-icon-size);
  height: var(--hope-alert-icon-size);
}
