/* -------------------------------------------------------------------------------------------------
 * Hope UI - Base styles
 * -----------------------------------------------------------------------------------------------*/

@use "./variables";

.hope-icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  line-height: 1em;
  color: currentColor;
  vertical-align: middle;
}
