/* -------------------------------------------------------------------------------------------------
 * Hope UI - Base styles
 * -----------------------------------------------------------------------------------------------*/

@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: rgb(var(--hope-colors-neutral-800));
  font-family: var(--hope-fonts-sans);
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hope-ui-dark {
  background-color: rgb(var(--hope-colors-dark-900));
  color: rgb(255 255 255 / 0.9);
}

.hope-icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  line-height: 1em;
  color: currentColor;
  vertical-align: middle;
}

.hope-focus-ring {
  box-shadow: 0 0 0 3px rgb(var(--hope-colors-focus-ring));
}

@keyframes hope-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
