/* -------------------------------------------------------------------------------------------------
 * Variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-button-border-radius: 0.25rem;
  --hope-button-font-weight: 600;

  --hope-button-xs-height: 30px;
  --hope-button-xs-border-radius: var(--hope-button-border-radius);
  --hope-button-xs-padding: 0 14px;
  --hope-button-xs-font-size: 12px;

  --hope-button-sm-height: 36px;
  --hope-button-sm-border-radius: var(--hope-button-border-radius);
  --hope-button-sm-padding: 0 18px;
  --hope-button-sm-font-size: 14px;

  --hope-button-md-height: 42px;
  --hope-button-md-border-radius: var(--hope-button-border-radius);
  --hope-button-md-padding: 0 22px;
  --hope-button-md-font-size: 16px;

  --hope-button-lg-height: 50px;
  --hope-button-lg-border-radius: var(--hope-button-border-radius);
  --hope-button-lg-padding: 0 26px;
  --hope-button-lg-font-size: 18px;

  --hope-button-xl-height: 60px;
  --hope-button-xl-border-radius: var(--hope-button-border-radius);
  --hope-button-xl-padding: 0 32px;
  --hope-button-xl-font-size: 20px;

  --hope-button-icon-spacing: 0.5rem;
}

$hope-button-sizes: xs, sm, md, lg, xl;
$hope-button-colors: primary, accent, dark, neutral, success, info, warning, danger;

/* -------------------------------------------------------------------------------------------------
 * Button
 * -----------------------------------------------------------------------------------------------*/
.hope-button {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--hope-button-icon-spacing);

  width: auto;

  outline: none;
  border: 1px solid transparent;
  border-radius: var(--hope-button-border-radius);

  padding: 0;

  font-family: inherit;
  font-size: 100%;
  font-weight: var(--hope-button-font-weight);
  line-height: 1;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;

  &.hope-button--is-full-width {
    display: flex;
    width: 100%;
  }

  &.hope-button--is-loading {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
  }
}

/* -------------------------------------------------------------------------------------------------
 * Button - size
 * -----------------------------------------------------------------------------------------------*/
@each $size in $hope-button-sizes {
  .hope-button--#{$size} {
    height: var(--hope-button-#{$size}-height);
    border-radius: var(--hope-button-#{$size}-border-radius);
    padding: var(--hope-button-#{$size}-padding);
    font-size: var(--hope-button-#{$size}-font-size);
  }
}

/* -------------------------------------------------------------------------------------------------
 * Button - variant
 * -----------------------------------------------------------------------------------------------*/
.hope-button--default {
  border-color: rgb(var(--hope-colors-neutral-300));
  background-color: white;
  color: rgb(var(--hope-colors-dark-900));

  &.hope-button--is-hovered {
    background-color: rgb(var(--hope-colors-neutral-50));
  }

  &.hope-button--is-active {
    background-color: rgb(var(--hope-colors-neutral-100));
  }
}

.hope-button--solid {
  color: white;

  &.hope-button--warning {
    color: rgb(var(--hope-colors-dark-500));
  }

  @each $color in $hope-button-colors {
    &.hope-button--#{$color} {
      background-color: rgb(var(--hope-colors-#{$color}-500));

      &.hope-button--is-hovered {
        background-color: rgb(var(--hope-colors-#{$color}-600));
      }

      &.hope-button--is-active {
        background-color: rgb(var(--hope-colors-#{$color}-700));
      }
    }
  }
}

.hope-button--subtle {
  @each $color in $hope-button-colors {
    &.hope-button--#{$color} {
      background-color: rgb(var(--hope-colors-#{$color}-50));

      &.hope-button--is-hovered {
        background-color: rgb(var(--hope-colors-#{$color}-100));
      }

      &.hope-button--is-active {
        background-color: rgb(var(--hope-colors-#{$color}-200));
      }
    }
  }
}

.hope-button--dashed {
  border-style: dashed;
}

.hope-button--outline,
.hope-button--dashed {
  @each $color in $hope-button-colors {
    &.hope-button--#{$color} {
      border-color: rgb(var(--hope-colors-#{$color}-500));
    }
  }
}

.hope-button--outline,
.hope-button--dashed,
.hope-button--ghost {
  background-color: transparent;

  @each $color in $hope-button-colors {
    &.hope-button--#{$color} {
      &.hope-button--is-hovered {
        background-color: rgb(var(--hope-colors-#{$color}-50));
      }

      &.hope-button--is-active {
        background-color: rgb(var(--hope-colors-#{$color}-100));
      }
    }
  }
}

.hope-button--subtle,
.hope-button--outline,
.hope-button--dashed,
.hope-button--ghost {
  @each $color in $hope-button-colors {
    &.hope-button--#{$color} {
      color: rgb(var(--hope-colors-#{$color}-700));

      & .hope-button__icon {
        color: rgb(var(--hope-colors-#{$color}-600));
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * ButtonIcon
 * -----------------------------------------------------------------------------------------------*/
.hope-button__icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
}

/* -------------------------------------------------------------------------------------------------
 * ButtonLoader
 * -----------------------------------------------------------------------------------------------*/
.hope-button__loader {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1em;
  line-height: normal;

  &.hope-button__loader--with-loading-text {
    position: relative;
  }
}

/* -------------------------------------------------------------------------------------------------
 * Button - default icon spinner
 * -----------------------------------------------------------------------------------------------*/
.hope-button__icon-spinner {
  font-size: 1.3em;
  animation: 1s linear infinite hope-spin;
}

/* -------------------------------------------------------------------------------------------------
 * ButtonGroup
 * -----------------------------------------------------------------------------------------------*/
.hope-button__group {
  display: inline-flex;

  & .hope-button:focus {
    z-index: 1;
  }

  &.hope-button__group--is-attached {
    & > *:first-of-type:not(:last-of-type) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > *:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
    }

    & > *:not(:first-of-type):last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * Dark mode
 * -----------------------------------------------------------------------------------------------*/
.hope-ui-dark {
  .hope-button--default {
    border-color: rgb(var(--hope-colors-dark-500));
    background-color: rgb(var(--hope-colors-dark-900));

    &.hope-button--is-hovered {
      background-color: rgb(var(--hope-colors-dark-800));
    }

    &.hope-button--is-active {
      background-color: rgb(var(--hope-colors-dark-700));
    }
  }

  .hope-button--solid {
    @each $color in $hope-button-colors {
      &.hope-button--#{$color} {
        @if $color == dark {
          background-color: rgb(var(--hope-colors-dark-400));

          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-dark-300));
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-dark-200));
          }
        } @else {
          background-color: rgb(var(--hope-colors-#{$color}-700));

          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-#{$color}-600));
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-#{$color}-500));
          }
        }
      }
    }
  }

  .hope-button--default,
  .hope-button--solid {
    color: rgb(255 255 255 / 0.95);

    & .hope-button__icon {
      color: rgb(255 255 255 / 0.85);
    }
  }

  .hope-button--subtle {
    @each $color in $hope-button-colors {
      &.hope-button--#{$color} {
        @if $color == dark {
          background-color: rgb(var(--hope-colors-dark-700));

          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-dark-600));
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-dark-500));
          }
        } @else {
          background-color: rgb(var(--hope-colors-#{$color}-700) / 0.35);

          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-#{$color}-600) / 0.35);
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-#{$color}-500) / 0.35);
          }
        }
      }
    }
  }

  .hope-button--outline,
  .hope-button--dashed {
    @each $color in $hope-button-colors {
      &.hope-button--#{$color} {
        @if $color == dark {
          border-color: rgb(var(--hope-colors-dark-400));
        } @else {
          border-color: rgb(var(--hope-colors-#{$color}-700));
        }
      }
    }
  }

  .hope-button--outline,
  .hope-button--dashed,
  .hope-button--ghost {
    @each $color in $hope-button-colors {
      &.hope-button--#{$color} {
        @if $color == dark {
          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-dark-700));
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-dark-600));
          }
        } @else {
          &.hope-button--is-hovered {
            background-color: rgb(var(--hope-colors-#{$color}-300) / 0.05);
          }

          &.hope-button--is-active {
            background-color: rgb(var(--hope-colors-#{$color}-400) / 0.1);
          }
        }
      }
    }
  }

  .hope-button--subtle,
  .hope-button--outline,
  .hope-button--dashed,
  .hope-button--ghost {
    @each $color in $hope-button-colors {
      &.hope-button--#{$color} {
        @if $color == dark {
          color: rgb(var(--hope-colors-dark-50));

          & .hope-button__icon {
            color: rgb(var(--hope-colors-dark-100));
          }
        } @else {
          color: rgb(var(--hope-colors-#{$color}-400));

          & .hope-button__icon {
            color: rgb(var(--hope-colors-#{$color}-500));
          }
        }
      }
    }
  }
}
