/* -------------------------------------------------------------------------------------------------
 * Variables
 * -----------------------------------------------------------------------------------------------*/
:root {
  --hope-kbd-border-radius: 0.375rem;
  --hope-kbd-padding: 0 0.4em;
  --hope-kbd-font-size: 0.8em;
  --hope-kbd-font-weight: 700;
  --hope-kbd-line-height: normal;
}

/* -------------------------------------------------------------------------------------------------
 * Kbd
 * -----------------------------------------------------------------------------------------------*/
.hope-kbd {
  border-radius: var(--hope-kbd-border-radius);
  border-color: var(--hope-colors-neutral-7);
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;

  background-color: var(--hope-colors-neutral-2);

  padding: var(--hope-kbd-padding);

  color: var(--hope-colors-neutral-12);
  font-family: var(--hope-fonts-mono);
  font-size: var(--hope-kbd-font-size);
  font-weight: var(--hope-kbd-font-weight);
  line-height: var(--hope-kbd-line-height);
  white-space: nowrap;
}
