/* -------------------------------------------------------------------------------------------------
 * Hope UI - CSS reset
 * -----------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: rgb(var(--hope-colors-neutral-800));
  font-family: var(--hope-fonts-sans);
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
